<div class="row" >
  <div class="col-md-4" *ngFor="let product of products" style="margin-bottom: 20px;">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{imageUrl + product.ImageUrl}}" alt="{{product.ImageUrl}}">
          <div class="card-body">
            <h5 class="card-title">{{product.Name}}</h5>
            <p class="card-text">{{product.Description}}</p>
            <a  class="btn btn-primary" [routerLink]= "['/products', product.Id]">View More</a>
          </div>
        </div>
  </div>
</div>
